// Colors
$card-bg: #e0ddb2;
$border-color: #dad6ab;
$primary-color: #016690;

// Fonts
$primary-font: 'Franklin Gothic Medium';

// Sizes
$tiny: 1rem;
$small: 2rem;
$medium: 4rem;
$large: 10rem;
$huge: 20rem;

// Borders
$border-size: 2px;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
