//colors
$primary-color: #0e749e;
$secondary-color: #e0ddb2;
$tertiary-color: #fff;

// fonts
$primary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

// sizes
$tiny: 1rem;
$small: 2rem;
$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-size: 2px;

// breakpoints
$tablet: 768px;
$desktop: 1025px;